// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
  background-color: #fff;
  color: #000;
  font-family: 'Roboto', sans-serif;;
  font-weight: 100;
  height: 16px;
  margin: 0;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 16px;
}

li,  a:hover {
  cursor: pointer;
}

#newGroup li input {
  display: none;
  opacity: 0;
}

span {
  opacity: 0;
}

a:hover {
  text-decoration: none;
  color: #636b6f;
}

a {
  color: #636b6f;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: .1rem;
  cursor: pointer;
}

.m-b-md {
  margin-top: 30px;
}

.createNew, .createNew:hover, .createNew:active, .createNew:visited, .createNew:before {
  padding: 5px 20px;
  color: white;
  background: green;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.rem {
  border: none;
  background: #fff;
  margin-top: 10px;
  cursor: pointer;
}

.content1 {
  flex-direction: row;
  justify-content: flex-start;
}

#new {
  cursor: pointer;
  padding: 5px 20px;
  color: white;
  background: green;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}

.goBack {
  align-content: left;
  font-weight: 200;
  opacity: 1;
}

.arrow {
  font-size: 24px;
  padding-right: 5px;
}

.linkBack {
  cursor: pointer;
  text-decoration: none;
  color: #000000;
  padding-bottom: 15px;
  display: block;
}

.mainContent {
  padding-top: 5px;
  display: block;
}

.group {
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  opacity: 1;
}

.matches {
  float: left;
  //margin-left: -13px;
  opacity: 1;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
}

.input {
  margin-top: 30px;
  display: inline-flex;
  border-radius: 5px;
  width: 40px;
  margin-left: 20px;
  text-align: center;
  border: 1px solid #cecece;
}

.inputTeam:focus {
  outline: none;
}

.inputTeam {
  border: 2px solid #cecece;
  box-shadow: 0 0 5px #cecece;

  border-radius: 7px;
  width: 125px;
}

.team-list li:hover {
  cursor: default;
}

.team-list {
  font-size: 16px;
  float: right;
  width: 80%;
}

.delete-x {
  list-style-type: none;
  float: left;
  display: grid;
}

#deleteTeam span {
  display: inline-block;
  float: left;
  width: 5%;
  opacity: 1;
}

#del {
  opacity: 1;
}
.generate {
  width: 100px;
  float: right;
  cursor: pointer;
  padding: 5px 20px;
  color: white;
  background: #5a6268;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}

.rez {
  margin-left: 40px;
}

.team {
  opacity: 1;
  padding-right: -5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  display: inline;
  font-family: 'Roboto', sans-serif;
}

.main-section {
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.rezultMatches {
  margin-top: 20px;
}

.resultM {
  float: left;
  //margin-top: 30px;
}

.resM {
  padding-left: 15px;
  float: right;
}
